html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-image: linear-gradient(to right, rgb(85, 206, 208), rgb(8, 101, 193));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.App {
  text-align: center;
  margin: 20px;
}

.weather-app {
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}


.weather-app h1 {
  color: white;
  text-align: left;
  font-size: 70px;
}

.weather-app input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.weather-info-container {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-top: 40px;
}

.weather-info-container-left {
  display: flex;
  align-items: center;
  color: white;
  border-right: 1px solid white;
  padding-right: 40px;
}

.weather-temp {
  font-size: 100px;
  color: white;
  align-self: self-start;
  margin: 0px;
  text-wrap: nowrap;
}

.weather-condition {
  font-size: 30px;
  color: white;
  text-align: left;
  margin-top: 0px;
}

.weather-icon {
  width: 350px;
  height: 350px;
}

.weather-info-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  
}
.celsius-label{
  color: white;
  font-size: 16px;
  padding-top: 10px;
}
.celsius-label-container{
  display: flex;
  align-items:end;
  justify-content:end;
}

.weather-app button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .weather-info-container{
    flex-direction: column;
  }
  .weather-info-container-left{
    border-right: none;
  }
  .weather-temp{
    font-size: 70px;
    text-wrap: nowrap;
  }
  .weather-icon{
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    font-size: 50px;
  }

  .weather-info-container{
    flex-direction: column;
    padding-top: 150px;
  }

  .weather-icon{
    width: 100px;
    height: 100px;
  }
  .weather-temp{
    font-size: 20px;
  }
  .weather-condition{
    font-size: 20px;
  }
  .weather-info-container-left{
    border-right: none;
  }
}