.forecast-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    background-color: #f9f9f9;
}

.forecast-card img {
    width: 50px;
    height: 50px;
}

.forecast-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .forecast-container{
        width: 100%;
    }
    .forecast-card{
        width: 100%;
    }
}

